/* dolgu ve kenarlıkları boyuta dahil ettik*/ 
* {
    box-sizing: border-box;
  }
/*listeden(ul'dan) kenar boşluklarını ve dolguyu kaldır */
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;
    /* liste öğelerini seçilemez yap */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
 /* nth-child : öğeleri eşleştirme.    odd: tek ve çift olan ögeleri eşler*/ 
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
 /* fareyle üzerine gelindiğinde daha koyu arka plan rengi */ 
  ul li:hover {
    background: #ddd;
  }
/* Tıklandığında, bir arka plan rengi ekleyin ve metnin üzerini çizin */  
  ul li.checked {
    background: #276678;
    color: #fff;
    text-decoration: line-through;
  }


 /* Üzerine tıklandığında "işaretli" işareti ekleyin */ 
 ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

/*kapat düğmesinin stili */
  .close1 {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close1:hover {
    background-color: #f78501;
    color: white;
  
  }
/* başlığa stil ver */
  .header {
    background-color: #f78501;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  img {
    background-color: white;
  }
/* Başlıktan sonra kayan noktaları temizle */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
/* input 'a stil ver */ 
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
 
/* ekle butonuna stil ver */  
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
 
/* ekle butonunun üzerine gelince renk değiştirme yapıldı*/  
  .button:hover {
    background-color: #bbb;
  }